.news {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .futurePlans {
        &:hover{
            background-color: rgb(33, 128, 252) !important;
        }
    }
    
    .news__list {
        display: flex;
        flex-direction: column;
        width: calc(100% - 40px);
        margin: 10px 20px;

        .news__item {
            width: calc(100% - 40px);
            color: black;
            border-top: 1px solid rgba(43, 42, 42, .5);
            border-bottom: 1px solid rgba(43, 42, 42, .5);

            &:hover {
                color: white;
                background-color: #293;
                cursor: pointer;
                border-top: 0px solid rgba(43, 42, 42, .5);
                border-bottom: 0px solid rgba(43, 42, 42, .5);
            }
          
            align-items: center;
            justify-content: space-between;
            display: flex;
            text-align: left;
            padding: 10px 20px ;

            .news__item-info {
                max-width: 80%;

                h1 {
                    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    letter-spacing: 1px;
                }
                p {
                    margin-top: -5px;
                }
            }

            &:hover > .rightInfo {
                color:rgb(229, 229, 229);
            }

            .rightInfo {
                color: rgb(164, 162, 162);
               
                text-align: center;

                .rightInfo-text {
                    font-size: 18px;
                }
                .rightInfo-date {
                    font-size: 25px;
                    font-style: italic;
                    letter-spacing: 1px;
                    font-weight: 700;
                }
            }
        }
    }   
}