.imagesCharts {
    display: flex;

    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px 0px;
    position: relative;

    .imagesCharts-images {
        margin-top: 150px;
        opacity: .3;
        height: 700px;
        background-color: #293;
        width: 100vw;
        background-image: url('./../../../assets//charts/backgroundCharts.png');
        background-size: 300% 100%;
        // filter: grayscale(px);
        animation: gradient 50s ease infinite;

        background-repeat: no-repeat;

        @keyframes gradient {
            0% {
                background-position: 0% 0%;
            }
            50% {
                background-position:100% 0%;
            }
            100% {
                background-position: 0% 0%;
            }
        }

        @media (max-width: 480px) {
            background-size: 600% 100%;
        }
   }

   .imagesCharts-info {
    position: absolute;
    margin-left: 100px;
    letter-spacing: 1px;

    @media (max-width: 480px) {
        margin-left: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

        h1 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            font-size: 50px;
            // font-weight: 600;
            text-align: left;
            color: #293;
            margin:10px 0;

            @media (max-width: 480px) {
               font-size: 40px;
               text-align: center;
               padding: 0 20px;
            }
        }

        h2 {
            margin-top: 50px;
            font-size: 30px;
            font-weight: 900;
       
            text-align: left;
            color: rgb(107, 107, 107);

            
            @media (max-width: 480px) {
                font-size: 25px;
                text-align: center;
            }
        }

        .imagesCharts-button {
            background-color: #293;
            color: white;
            padding: 10px 25px;
            border-radius: 5px;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 700;
            width: max-content;

            &:hover {
                cursor: pointer;
                background-color: rgb(84, 84, 84);
                transition: all .5s linear;
            }
        }
   }
}