.optionsProject {
    width: 100vw;
    height: 100vh;
   // position: relative;
    background-color: rgba(24, 24, 24, .4);
    z-index: 12;

    .optionsProject__container {
        z-index: 12;

        position: absolute;
        right: 40px;
        top:40px;

        display: flex;
        justify-content: center;
        flex-direction: column;

        background-color: rgb(36, 36, 36);
        border-radius: 10px;

        .optionsProject__container-option {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: rgb(255, 255, 255);
            gap:15px;
            padding: 7px 12px;
            border-radius: 5px;

            &:hover {
              //  color: white;
                cursor: pointer;
                transition: all .2s linear;
                background-color: rgb(43, 43, 43);
            }
        }
        .red {
            color: rgb(210, 7, 7);

            &:hover {
              //  color: red
            }
        }
    }
}