.optionsProject {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(24, 24, 24, .4);

    .optionsProject__container {
        position: absolute;
        right: 40px;
        top:40px;

        display: flex;
        //align-items: center;
        justify-content: center;
        flex-direction: column;
        //height: 300px;
        //width: 200px;
        padding: 10px;

        background-color: rgb(15, 15, 15);
        border-radius: 10px;

        .optionsProject__container-option {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: rgb(183, 181, 181);
            gap:15px;
            padding: 5px 10px;
            border-radius: 5px;

            &:hover {
                color: white;
                cursor: pointer;
                transition: all .5s linear;
                background-color: rgb(43, 43, 43);
            }
        }
        .red {
            color: rgb(161, 8, 8);

            &:hover {
                color: red
            }
        }
    }
}