
.imagesScrollView {
    width: 100%;
    height: auto;
    position: relative;
    // border-bottom: 1px solid rgb(171, 171, 171);
    
    section {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        scroll-snap-align: center;

        background-color:rgb(19, 19, 19);
        gap:0px;
        padding: 50px 0;

        @media (max-width: 480px) {
          padding: 0px 0;
        }
  

        h2 {
          font-size: 50px;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          // text-shadow: 6px 6px 7px #293;
          background: -webkit-linear-gradient( #293, #eee);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-transform: uppercase;
          // color: white;
          margin: 100px 0;
          max-width: 40vw;

          @media (max-width: 480px) {
            max-width: 90vw;
            position: absolute;
            text-align: center !important;
            font-size: 35px;
          }

          @media (max-width: 370px) {
            font-size: 32px;
          }
        }

        div {
          width: 100px;
          height: 100vh;
          position: relative;
          max-height: 90vh;
          margin: 20px;
          background: var(--white);
          // overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          transform:perspective(300px);
          transform-style:preserve-3d;


          .greenBackground {
            // background-color: rgba(224, 224, 224, .02);
            // box-shadow: 6px 6px 7px #293;
            width: 120px;
            height: 450px;
            border-radius: 5px;
          }
        }

        img {
          position: absolute;
          top: 0;
          left: -80px;
          right: 0;
          bottom: 0;
          width: 23vw;
          height: 100vh;
          border: 2px solid rgb(38, 38, 38);
          // border-radius: 10px;
          transform:rotateY(30deg);

          @media (max-width: 480px) {
            width: 65vw;
            height: 70vh;
          }
          @media (max-width: 320px) {
            left: -40px;
          }
        }    
      }
}
