
.imagesScrollView {
    width: 100vw;
    height: auto;
    position: relative;
    // border-bottom: 1px solid rgb(171, 171, 171);

    section {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        scroll-snap-align: center;

        background-color:rgb(19, 19, 19);
        gap:0px;
        // padding: 50px 20px;

        @media (max-width: 480px) {
          justify-content: center;
          padding: 0px 0px;
          width: 100vw
        }
  

        .text__container {
          z-index: 5;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          margin: 0px 0px;
          width: 100%;     
          // background-color: rgb(51, 52, 51); 

          .main__text {
            width: 80%;
            font-size: 50px;
            line-height: 70px;
            font-weight: 500;
            letter-spacing: -1px;
            background-color: red;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            // text-shadow: 6px 6px 7px #293;
            background: -webkit-linear-gradient( #293, #eee);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
            height: auto;
            // color: white;
      
            @media (max-width: 480px) {
              // max-width: 250px;
              // position: absolute;
              // text-align: center !important;
              margin: 40px 0px;
              font-size: 35px;
              line-height: 45px;
              width: calc(100% - 40px);
              padding:0px 20px;
            }
  
            @media (max-width: 370px) {
              font-size: 28px;
            }
          }
  
          .header__Text { 
            width: 80%;
            height: auto;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding:0px 20px;
            
            // background-color: aqua;
            color: rgb(225, 225, 225);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
            // height: auto;

            letter-spacing: 1px;
            // text-transform: uppercase;
            // background-color: rgb(247, 247, 247);
            font-weight: 600;
            font-size: 30px;
            margin-left: 0px;
            margin-right: 0px;

            @media (max-width: 480px) {
              // align-items: flex-start;

            }

            .icon__container {
              height: auto;
              // margin: 0px;
              // width: min-content;
            }
          }
        }

        div {
          // display: none;
          width: 100px;
          height: 100vh;
          position: relative;
          max-height: 90vh;
          margin: 20px;
          background: var(--white);
          // overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 480px) {
            margin: 0px;
          }

          .greenBackground {
            width: 120px;
            height: 450px;
            border-radius: 5px;
          }
        }

        img {
          // display: none;
          z-index: 3;
          position: absolute;
          top: -20px;
          left: -80px;
          right: 0;
          bottom: 0;
          width: 300px;
          height: 100vh;
    
          border-radius: 20px;
          transform:rotateY(30deg);

          @media (max-width: 480px) {
            width: 65vw;
            height: 70vh;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            // margin-right: 10px;
          }
          @media (max-width: 320px) {
            // left: -40px;
          }
        }    
      }
}
