.createProject {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .createProject-mainNav {
        background-color: rgb(26, 26, 26);
        width: 100vw;
        height: 60px;
        display: flex;
        align-items: center;
        color: white;

        .back-icon {
            &:hover {
                color: #293;
                transition: all .3s ease-in-out;
                cursor: pointer;
            }
        }

        h1 {
            text-align: left;
            margin-left: 0px;
            font-size: 20px;
        }
    }

    .createProject-container {
        width: 100%;   
        height: calc(100vh - 60px);

        color: white;
        text-align: left;
        display: flex;

        nav {
            width: 300px;
            background-color: rgb(35, 35, 35);
            display: flex;
    
            flex-direction: column;

            .link {
                font-size: 19px;
                padding: 8px 15px;

                &:hover {
                    cursor: pointer;
                    color: white !important;
                    transition: all .3s ease-in-out;
                }
            }
        }

        .createProject-container_content {
            width: calc(100% - 300px);

        }

    }
}


.linkContent-nav {
    margin: 0 10px;
    font-size: 20px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .linkContent-nav_number {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        color: rgba(34, 178, 34, .8);
        letter-spacing: 1px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

.linkContent_inputs-container {
    display: flex;
    flex-direction: column;
}

.linkContent-next_stage {
    background-color: rgba(34, 178, 34, .8);
    padding: 5px 10px;
    padding-left: 17px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    gap:0px;

    display: flex;
    align-items: center;

    position: absolute;
    right: 15px;
    bottom: 15px;

    &:hover {
        cursor: pointer;
        transition: all .3s ease-in-out;
        background-color: rgb(33, 33, 33);
    }
}