.circleGradient {
    width: 150px;
    height: 150px;

    @media (min-width: 1400px) {
        width: 180px;
        height: 180px;
    }

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
    margin: 10px 4px;

    background-size: 100% 400%;
	-webkit-animation: gradient 5s ease infinite;
	        animation: gradient 5s ease infinite;

    .data {
        width: 143px;
        height: 143px;
        background-color: rgb(19, 18, 18);

        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 1400px) {
            width: 170px;
            height: 170px;
        }

        .data-value {
            font-size: 30px;
        }
        
        .data-type {
            font-size: 15px;
            color: rgb(172, 172, 172);
            font-weight: 300;
        }
    }
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}