.projectPage {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    
    .projectPage__nav {
        width: 100vw;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
      //  gap:10px;
        background-color: rgb(25, 25, 25);
        color:white;    
        font-size: 20px;

        .projectPage__nav-main {
            display: flex;
            align-items: center;
            gap:10px;
        }
    }

    .projectPage__main {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        height: calc(90vh);
        background-color: rgb(19, 18, 18);

        .projectPage__main_content {
            width: 60vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            // align-items: center;
            color: white;
            padding: 0 20px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
               display: none;
            };

            .projectPage__main_content-image {
                width: 100%;
                height: 350px;
                border-radius: 0px 0px 10px 10px;
                margin-bottom:  10px;
                object-fit: cover;
              //  overflow: hidden;
            }

            .projectPage__main_info-circles {
                width: 100%;
                padding-top: 20px;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }   

            .projectPage__main_content-info{
                margin-top: 30px;
                background-color: rgb(26, 26, 26);
                z-index: 5;
                width: 100%;
               // max-height: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                margin-left: 0px;
                border-radius: 10px;
                margin-bottom: 20px;
    
                h1 {
                    align-self: flex-start;
                    margin-left: 20px;
                    font-size: 22px;
                    font-weight: 600;
                }

                .description{
                    margin: 10px 20px;
                }

                .projectPage__main_content-info-links {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: calc(100% - 40px);
                    margin: 20px;

                    .link {
                        display: flex;
                        align-items: center;
                        gap: 10px;
            
                        
                        .link-type {
                            
                        }
                    }
                }

                .projectPage__main_content-info-contaier {
                    width: calc(100% - 40px);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 20px;

                    .soundcheck {
                        color:white;
                        padding: 5px 15px;
                        border-radius: 12px;
                        font-size: 16px;
                        letter-spacing: 1px;  
                        border: 1px solid rgb(137, 134, 134);

                        display: flex;
                        align-items: center;
                        gap:10px;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .projectPage__main_info-gradient {
                        color:white;
                        padding: 5px 15px;
                        border-radius: 12px;
                        font-size: 16px;
                        letter-spacing: 1px;          
                    }
                }
            }
        }

        .projectPage__main_history {
            border-left: .5px solid;
            background-color: rgb(26, 26, 26);
            margin: 20px;
            border-radius: 10px;
            width: 40vw;
            display: flex;
            color: white;

            h1 {
                align-self: flex-start;
                margin-left: 20px;
                font-size: 22px;
                font-weight: 600;
            }
        }
    }

    .projectPage__footer {
        position: fixed;
        bottom: 20px;

        width: 400px;
        z-index: 6;
        height: 50px;
        background-color: rgb(32, 32, 32);
        align-self: center;
        left: calc((100%/2) - 200px);
        //right: 20px;
        border-radius: 15px;
        display: none;
        align-items: center;
        justify-content: space-between;

        .projectPage__footer-icons {
            color:rgb(217, 214, 214);
            display: flex;
            margin:0px 15px;
            gap:15px;
            align-items: center;
        }

        .projectPage__footer-author {
            display: flex;
            align-items: center;
            gap:10px;
            margin-right: 15px;

            .authorText {
                color: rgb(213, 209, 209);
            }

            .authorImg {
                width: 30px;
                height: 30px;
                border-radius: 50px;
            }
        }
    }
}
