.singleChat {
    display: flex;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    overflow-y: auto;
    margin: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        color: rgba(142, 140, 140, .7);
        font-size: 17px;
    }

    .singleChat-content {
        width: 450px;
        background-color: rgb(26, 26, 26);
        height: 100%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        nav {
            display: flex;
            align-items: center;
            width: calc(100% - 20px);
            margin: 10px 15px;
            justify-content: space-between;

            .nav__personData {
                display: flex;
                align-items: center;
                
                .image-profile {
                    border-radius: 50%;
                    width: 30px;
                    height:30px;
                }
        
                .name-person {
                    color: white;
                    font-size: 18px;
                    margin-left: 15px;
                }
            }

        }

        .messages-container {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding-top: 10px;
            overflow-y: auto;
          
            border-top: 1px solid rgb(41, 41, 41);
            border-bottom: 1px solid rgb(41, 41, 41);

            .message__conteiner {
                display: flex;
                margin: 5px 15px;
                gap: 10px;
                border-radius: 10px;
                align-items: center;
              

                .message__text {
                    font-size: 16px;
                    color: white;
                }
    
                .imageProfile {
                    width: 25px;
                    height: 25px;
    
                    border-radius: 50%;
                }
            }

            .sender {
                background-color:#273;

                align-self: flex-end;
                text-align: right;
                padding: 5px 10px;
            }
            
            .reciver {
                align-self: flex-start;
                text-align: left;

                .reciver__text { 
                    background-color:rgb(46, 46, 46);
                    padding: 10px;
                    border-radius: 10px;
                }
            }
        }

        footer {
            width: 100%;
            display: flex;
            align-items: center;

            form {
                width: 100%;
                display: flex;
                align-items: center;

                .message-input {
                    margin: 10px;
                    background-color: rgb(37, 37, 37);
                    border-radius: 50px;
                    outline: none;
                    border-style: none;
                    color: white;
                    width: 100%;
                    font-size: 15px;
                    padding: 9px 15px;
                }
    
                .send-button {
                  margin-right: 15px;
                  color: white;

                  &:hover {
                    color: gray;
                    cursor: pointer;
                    transition: all .2s ease-in-out;
                  }
                }
            }
        }
    }

}