.links {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    align-items: center;

    nav {
        background-color: rgb(30, 30, 30);
        width: 23%;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        gap:10px;
        display: flex;
        flex-direction: column;

        .links_nav_back {
            color:white;
        }

        .links_nav-links {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin:0 15px;
            align-items: flex-start;
            gap:10px;

            .link {
                color: rgb(177, 173, 173);
                padding: 5px;
                font-size: 20px;

                &:hover {
                    cursor: pointer;
                    color: #2a3;
                    transition: all .5s ease-in-out;
                }
            }
        }
    }

    .links_content {
        width: 80%;
        height: 100vh;
        background-color: white;

        .links_content-header {
            font-size: 30px;
            text-align: left;
            font-weight: 400;
            margin-left: 20px;
        }
    }
}