.PresentationApp_container {
    height: 100%;
    //padding-left: 2rem;
    //padding-right: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (max-width: 480px) {
        height: auto;
    }

    .PresentationApp_nav {
        width: 100%;
        height: 100px;

        justify-content: space-between;
        align-items: center;
        display: flex;      

        @media (max-width: 480px) {
            height: 70px;
        }
    
        .PresentationApp_nav_hamburger-button {
            padding: .5rem;
            margin-top: 1rem;
            margin-left: 4rem;
            border-radius: 50px;
        
            &:hover {
                background-color: rgba(1, 1, 1, .1);
                cursor: pointer;
            }

                @media (max-width: 480px) {
                    margin-left: 1rem;
                }
        }
            
        .PresentationApp_nav_right {
            margin-top: 1rem;
            margin-right: 2rem;

            .PresentationApp_nav_right-logo { 
                width: 50px;
                border-radius: 10px;
                border: 1px solid rgba(194, 193, 193, .5);

                @media (max-width: 480px) {
                    width: 40px;
                    margin-right: 1rem;
                }
            }

            .PresentationApp_nav_right-loginUser {
                color: #2b3;
                font-size: 20px;
                align-self: flex-end;
                text-align: right;
                margin-top:-5px;
                letter-spacing: 2px;
            }

            @media (max-width: 480px) {
                margin-right: 0rem;
            }
        }
    }

    .PresentationApp_main {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: 30px 0;

        @media (max-width: 480px) {
           //min-height: 100vh;
           flex-direction: column;
           height: auto;
        }

        .PresentationApp_main_content {
            z-index: 3;

            max-width: 750px;
            
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 480px) {
                width: 300px;
                margin-left: 0rem;
                height: 100%;
                justify-content: center;
            }

            @media (max-width: 320px) {
                width: 270px;
            }
                 
                    
            
            h1 {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: rgb(0, 0, 0);
                z-index: 1;
                font-size: 3.5rem;
                //text-transform: uppercase;
                margin-top: 10px;

                @media (max-width: 480px) {
                    font-size: 2.2rem;
                    margin: 10px;
                    letter-spacing: 1px;
                }


                @media (min-width: 1300px) {
                    //font-size: 4.2rem;
                }
            }   

            p {
                //font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: rgba(31, 31, 31, 1);
                font-weight: 600;
                line-height: 26px;
                max-width: 100%;
                font-size: 18px;
                
                .appName {
                    font-size: 20px;
                    margin-top: 10px;
                    color: #2b3;
                    font-weight: 800;
                    letter-spacing: 1px;
                    // text-transform: uppercase;
                    @media (min-width: 1300px) {
                        font-size: 27px;
                     }
                 }

                 @media (max-width: 480px) {
                    line-height: 23px;
                    font-size: 23px;
                    padding: 5px 0;
                 }  

                 @media (max-width: 320px) {
                    font-size: 19px;
                    max-width: 90%;
                }
                 
                 @media (min-width: 1300px) {
                    font-size: 23px;
                    line-height: 35px;
                    max-width: 95%;
                 }
                 
            }

            .PresentationApp_main_content-buttons {
                display: flex;
                align-items: center;
                gap: 20px;
                align-self: center;
                padding: 20px 0;
                font-size: 20px;

                @media (max-width: 480px) {
                    font-size: 16px;
                }
                @media (max-width: 320px) {
                   font-size: 13px;
                }

                .button-about {
                    border:2px solid rgb(52, 52, 52);
                    color: rgb(36, 36, 36);
                    padding: 10px 25px;
                    margin-top: 20px;
                    border-radius: 5px;
                    align-self: center;
                    text-transform: uppercase;
                    font-weight: 700;
                    
                    @media (max-width: 320px) {
                        padding: 7px 15px;
                    }
    
                    &:hover {
                        cursor: pointer;
                        border:2px solid  rgb(18, 18, 18);
                        background-color: rgb(17, 17, 17);
                        transition: all .2s linear;
                        color: white;
                    }
                }
    
                .button-start {
                    border:2px solid  #293;
                    background-color: #293;
                    color: white;
                    padding: 10px 25px;
                    margin-top: 20px;
                    border-radius: 5px;
                    align-self: center;
                    text-transform: uppercase;
                    font-weight: 700;

                    @media (max-width: 320px) {
                        padding: 7px 15px;
                    }
    
                    &:hover {
                        cursor: pointer;
                        background-color: rgb(20, 20, 20);
                        border:2px solid  rgb(20, 20, 20);
                        transition: all .2s linear;
                    }
                }
            }

            footer {
                margin-top: 1rem;
                display: flex;
                align-items: center;

                .PresentationApp_main_content-linkImage {
                    width: 120px;
                    cursor: pointer;

                    @media (min-width: 1030px) {
                       width: 160px;
                     }
                }

                p {
                    font-size: .85rem;
                    margin-left: 1.5rem;
                    line-height: 14px;
                    max-width: 150px;
                    letter-spacing: normal;

                    @media (max-width: 480px) {
                        max-width: 100px;
                    }
                    
                    @media (min-width: 1300px) {
                        font-size: 18px;
                        max-width: 200px;
                        line-height: 18px;
                    }
                }
            }
        }
  
        .PresentationApp_main-images {
            // width: 100%;
            // display: flex;
            // align-items: center;
            // justify-content: flex-end;
            // background-color: antiquewhite;
            align-self: flex-end;
            position: absolute;
            right: -100px;
            bottom: 20px;

            .PresentationApp_main-image-img {
                width: 800px;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 1;
                opacity: .5;
                // height: 440px;

                @media (max-width: 480px) {
                    width: 300px;
                    opacity: .3;
                }
                @media (max-width: 1300px) {
                    width: 650px;
                }
            }
            @media (max-width: 480px) {
                right: 10px;
                bottom: 250px;
            }
        }
    }
}

