.PresentationApp_container {
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    background-image: url('https://images.pexels.com/photos/9481680/pexels-photo-9481680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    
    // background-color: rgb(216, 219, 216);
    // background: linear-gradient(170deg, rgb(1, 104, 32) 30%, rgb(6, 141, 24) 40%, rgba(255,255,255,1) 65%);
	animation: gradient 15s ease infinite;
    // background: linear-gradient(-105deg, #4ef342, #e71313, #e6a007, #e5e5e3);
    background-size: 120% 150%;

    @keyframes gradient {
        0% {
            background-position: 60% 20%;
        }
        50% {
            background-position:70% 40%;
        }
        100% {
            background-position: 60% 20%;
        }
    }

    @media (max-width: 480px) {
        min-height: 100vh;
    }

    .PresentationApp_nav {
        width: 100%;
        height: 100px;
    
        justify-content: space-between;
        align-items: center;
        display: flex;  
    
        .PresentationApp_nav_hamburger-button {
            padding: .5rem;
            margin-top: 1rem;
            margin-left: 4rem;
            border-radius: 50px;
        
            &:hover {
                background-color: rgba(1, 1, 1, .1);
                cursor: pointer;
            }

                @media (max-width: 480px) {
                    margin-left: 0rem;
                }
        }
            
        .PresentationApp_nav_right {
            margin-top: 1rem;
            margin-right: 2rem;

            .PresentationApp_nav_right-logo { 
                width: 170px;

                @media (max-width: 480px) {
                    width: 140px;
                }
            }

            .PresentationApp_nav_right-loginUser {
                color: #2b3;
                font-size: 20px;
                align-self: flex-end;
                text-align: right;
                margin-top:-5px;
                letter-spacing: 2px;
            }

            @media (max-width: 480px) {
                margin-right: 0rem;
            }
        }
    }

    .PresentationApp_main {
        display: flex;
        width: max-content;

        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;

        @media (max-width: 480px) {
           min-height: 100vh;
           flex-direction: column;
        }

        .PresentationApp_main_content {
            z-index: 3;
            margin-left: 2rem;
            max-width: 550px;
            
            display: flex;
            flex-direction: column;
            text-align: left;

            @media (max-width: 480px) {
                width: 300px;
                margin-left: 0rem;
                height: 100%;
                min-height: 100vh;
                justify-content: space-evenly;
            }
                        
            @media (min-width: 1030px) {
                max-width: 650px;
                margin-left: 3rem;
            }
            
            h1 {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: white;
                z-index: 1;
                font-size: 3.5rem;
                margin-top: 0px;

                @media (max-width: 480px) {
                    font-size: 2.5rem;
                }


                @media (min-width: 1300px) {
                    font-size: 4.2rem;
                }
            }   

            p {
                //font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                color: rgb(255, 255, 255);
                font-weight: 400;
                line-height: 26px;
                max-width: 100%;
                font-size: 23px;
                letter-spacing: .05rem;
                .appName {
                    margin-top: 10px;
                    color: #2b3;
                    // font-weight: 600;
                    letter-spacing: 1px;
                    // text-transform: uppercase;
                 }

                 @media (max-width: 480px) {
                    line-height: 23px;
                 }  
                 
                 @media (min-width: 1300px) {
                    font-size: 30px;
                    line-height: 32px;
                    max-width: 95%;
                 }
                 
            }

            footer {
                margin-top: 1rem;
                display: flex;
                align-items: center;

                .PresentationApp_main_content-linkImage {
                    width: 120px;
                    cursor: pointer;

                    @media (min-width: 1030px) {
                       width: 160px;
                     }
                }

                p {
                    font-size: .85rem;
                    margin-left: 1.5rem;
                    line-height: 14px;
                    max-width: 150px;
                    letter-spacing: normal;

                    @media (max-width: 480px) {
                        max-width: 100px;
                    }
                    @media (min-width: 1300px) {
                        font-size: 18px;
                        max-width: 200px;
                        line-height: 18px;
                    }
                }
            }
        }
  
        .PresentationApp_main-images {
            // width: 100%;
            // display: flex;
            // align-items: center;
            // justify-content: flex-end;
            // background-color: antiquewhite;
            align-self: flex-end;
            position: absolute;
            right: -100px;
            bottom: 20px;

            .PresentationApp_main-image-img {
                width: 800px;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 1;
                opacity: .5;
                // height: 440px;

                @media (max-width: 480px) {
                    width: 300px;
                    opacity: .3;
                }
                @media (max-width: 1300px) {
                    width: 650px;
                }
            }
            @media (max-width: 480px) {
                right: 10px;
                bottom: 250px;
            }
        }
    }
}

