
  main {
    display: flex;
  }
  
  aside {
    z-index: 11;
    background: rgb(23, 23, 23);
    // background: linear-gradient(174deg, rgb(6, 88, 1) 0%, rgb(51, 87, 49) 20%, rgb(44, 64, 44) 65%);
    
    position: fixed;
    width: 18.75rem;
    height: 100vh;
  }
  
  .container {
    margin: 4.5rem 1.4rem;
  }
  
  .btn-container {
    position: fixed;
  }
  
  .container a {
    color: #f9fafb;
    text-align: left;
    text-decoration: none;  
    font-size: 1.6rem;
    font-weight: 600;
    display: block;
    margin: 20px;
    font-weight: 400;
    letter-spacing: 1px;

    &:hover {
      color: #2b3
    }
  }
  
  button {
    cursor: pointer;
    margin: 1.25rem;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #f9fafb;
  }
  .Navigation_exit-button {
    position: absolute;
    top:20px;
    right:20px;

    padding: .5rem;
    margin-left: 2rem;
    border-radius: 50px;

    &:hover {
        background-color: rgba(1, 1, 1, .1);
        cursor: pointer;
    }
  }
  