.firststart {
    color:white;
    width: 100%;

    text-align: left;
    margin-left: 100px;

    .firststart-content {
        display: flex;
        background-color: rgb(33, 33, 33);
        padding: 10px;
        max-width: 850px;

        .firststart-place {
            width: 100%;
            margin-left: 10px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            position: relative;
        }

        form {
           //margin-left: -10px;
            display: flex;
            flex-direction: column;
    
            .firststart-form {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: flex-start;
    
                .firststart-formdata {
                    display: flex;
                    flex-direction: column;
                }
        
                .firststart-formimg {
                    position: relative;
                    width: 85px;
                    height: 85px;
        
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(61, 60, 60);
                    color: rgb(242, 238, 238);
                    font-size: 45px;
                    font-weight: bold;
                    border-radius: 5px;

                    &:hover{
                        outline: none;
                        background-color: rgba(15, 150, 8, 0.65);
                        transition: all .3s ease-in;
                        cursor: pointer;
                    }
    
                    .firststart-formimg-img {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                    }
    
                    .imageUpload {
                        opacity: 0;
                        width: 85px;
                        height: 85px;
                        position: absolute;
                    }
                }   
            }
    
            button {
                width: 330px;
                margin-left: 10px;
                background-color:  rgb(10, 96, 21);
                color: white;
                letter-spacing: 1px;
                margin-top: 10px;
    
                &:hover{
                    background-color:  rgb(55, 56, 55);
                    transition: all .3s ease-in;
                }
            }
        }
    }

    .firststart-label {
        color: rgb(176, 176, 176);
        font-weight: 500;
        max-width: 300px;
        line-height: 13px;
        font-size: 16px;
        line-height: 20px;
        margin-left: 65px;
        margin-top: 20px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
}